asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==6.0.4
djangorestframework==3.17.1
idna==3.17
psycopg2-binary==2.9.12
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
gunicorn==23.0.0
dj-database-url==2.1.0
